<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Pomodoro Timer</h1>
    <p class="remaining-time" v-text="remainingTime | time"></p>

    <div class="buttons">
      <button
        v-on="click: startPomodoro()"
        v-if="status == 'stopped'"
      >start</button>

      <button
        v-on="click: startBreak()"
        v-if="status == 'stopped'"
      >start break</button>

      <button
        v-on="click: startLongBreak()"
        v-if="status == 'stopped'"
      >start long break</button>

      <button
        v-on="click: startTimer(1)"
        v-if="status == 'stopped'"
      >test</button>

      <button
        v-on="click: stopTimer()"
        v-if="status == 'started'"
      >stop</button>
    </div>

    <br>

    <h2>Work Log</h2>

    <button v-on="click: clearLogs()">clear</button>

    <div class="logs">
      <div class="log" v-repeat="log: logs"
        >{{log.timestamp | dateTime}} - {{log.message}}</div>
    </div>

    <script src="/vue.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>