html {
  font-size: 16px;
  font-family: monospace;
  background: #eee;
}

body {
  padding: 0 15px;
}

.remaining-time {
  margin: 1em 0;
  font-size: 34px;
}

.buttons > button {
  margin-right: 5px;
  padding: 8px;
  font-size: 18px;
  font-family: inherit;
  background: #666;
  color: #eee;
  border: 0;
  border-radius: 3px;
  outline: 0;
}

.buttons > button:hover {
  background: #555;
}

.buttons > button:active {
  background: #444;
}

.buttons > button:disabled {
  background: #aaa;
}

.buttons > button:last-child {
  margin-right: 0;
}
